:root {
    --cor-azulb1: #179ad7;
    --cor-fundo-global: #F6F6F6;
    --cor-fundo-global-escuro: #E0E0E0;
    --cor-verdeb1: #9DBF11;
    /*--cor-fundo: #ffffff;
    --cor-fundoVerde: #e8f5e9;
    --cor-verdeClaro: #4caf50;
    --cor-verdeEscuro: #2e7d32;
    --cor-verdeMaisEscuro: #1b5e20;*/
    --cor-font-escuro: #333333;
    --cor-font-claro: #eaeaea;
    --cor-fontEscuro: #111111;

}